/* table css */
.alerts-table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
}

.alerts-table th,
td {
  border: 1px black solid;
  padding: 0.5rem;
}

.alerts-table .critical {
  color: red;
}

.alerts-table td {
  cursor: pointer;
}
.alerts-table .medium {
  color: rgb(235, 235, 111);
}

.alerts-table .high {
  color: orange;
}
.alerts-table .low {
  color: lightblue;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(207, 230, 237);
}

nav {
  display: flex;
  gap: 1rem;
}

.active-link {
  font-weight: 700;
}

.logo {
  font-weight: 800;
  color: black;
  font-size: 1.5rem;
}

/* form */
form {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.7rem;
  padding: 0.5rem;
  max-width: 70vw;
  margin: auto;
  margin-top: 2rem;
}

label {
  display: flex;
  gap: 1rem;
}

button {
  max-width: 150px;
}

.details-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
